<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serviceRegistry" class="com.huang.gai.rpc.register.ServiceRegistry">
        <constructor-arg name="registryAddress" value="122.51.49.211:2181"/>
    </bean>

    <bean id="rpcServer" class="com.huang.gai.core.init.PoisonRpcServer">
        <constructor-arg name="serverAddress" value="localhost:8081"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>