<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="serviceDiscovery" class="com.huang.gai.rpc.register.ServiceDiscovery">
        <constructor-arg name="registryAddress" value="122.51.49.211:2181"/>
    </bean>
    <bean id="client" class="com.huang.gai.rpc.core.RpcClient">
    </bean>

    <bean id="rpcProxy" class="com.huang.gai.rpc.core.RpcProxy">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
        <constructor-arg name="rpcClient" ref="client"/>
    </bean>

</beans>